<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--<filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>ch.heigvd.amt.gamification.filters.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping><-->
    
    <servlet>
        <servlet-name>AccountsServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gamification.controllers.AccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gamification.controllers.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gamification.controllers.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsersApplicationServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gamification.controllers.ListUsersApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApplicationsAccountServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gamification.controllers.ListApplicationsAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationsServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gamification.controllers.ApplicationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxApplicationsServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.gamification.controllers.ajax.AjaxApplicationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/pages/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsersApplicationServlet</servlet-name>
        <url-pattern>/pages/listUsersApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApplicationsAccountServlet</servlet-name>
        <url-pattern>/pages/yourApps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/pages/application</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountsServlet</servlet-name>
        <url-pattern>/pages/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxApplicationsServlet</servlet-name>
        <url-pattern>/applicationsAjax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
